body {
  background-color: purple;
}
h1 {
  color: blue;
  font-family: sans-serif;
  font-size: 50px;
}
p {
  color: white;
  font-family: courier;
  font-size: 30px;
  border: 2px solid powderblue;
  padding: 30px;
}
